## Code : 1) Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [3]:
for i in range(1,101):
    if (i%3==0 & i%5==0):
        print("FIZZBUZZ")
    if i%3==0:
        print("Fizz")
    if i%5==0:
        print("BUZZ")
    else:
        print(i)

1
2
FIZZBUZZ
Fizz
3
4
BUZZ
FIZZBUZZ
Fizz
6
7
8
FIZZBUZZ
Fizz
9
BUZZ
11
FIZZBUZZ
Fizz
12
13
14
FIZZBUZZ
Fizz
BUZZ
16
17
FIZZBUZZ
Fizz
18
19
BUZZ
FIZZBUZZ
Fizz
21
22
23
FIZZBUZZ
Fizz
24
BUZZ
26
FIZZBUZZ
Fizz
27
28
29
FIZZBUZZ
Fizz
BUZZ
31
32
FIZZBUZZ
Fizz
33
34
BUZZ
FIZZBUZZ
Fizz
36
37
38
FIZZBUZZ
Fizz
39
BUZZ
41
FIZZBUZZ
Fizz
42
43
44
FIZZBUZZ
Fizz
BUZZ
46
47
FIZZBUZZ
Fizz
48
49
BUZZ
FIZZBUZZ
Fizz
51
52
53
FIZZBUZZ
Fizz
54
BUZZ
56
FIZZBUZZ
Fizz
57
58
59
FIZZBUZZ
Fizz
BUZZ
61
62
FIZZBUZZ
Fizz
63
64
BUZZ
FIZZBUZZ
Fizz
66
67
68
FIZZBUZZ
Fizz
69
BUZZ
71
FIZZBUZZ
Fizz
72
73
74
FIZZBUZZ
Fizz
BUZZ
76
77
FIZZBUZZ
Fizz
78
79
BUZZ
FIZZBUZZ
Fizz
81
82
83
FIZZBUZZ
Fizz
84
BUZZ
86
FIZZBUZZ
Fizz
87
88
89
FIZZBUZZ
Fizz
BUZZ
91
92
FIZZBUZZ
Fizz
93
94
BUZZ
FIZZBUZZ
Fizz
96
97
98
FIZZBUZZ
Fizz
99
BUZZ

## Code : 2) Use List Comprehension to create a list of the first letters of every word in the string below: 
st = 'Create a list of the first letters of every word in this string'

In [26]:
st ='Create a list of the first letters of every word in this string'
# for ele in st.split():
#     print(ele[0])
    
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

## Code : 3) Go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'

In [28]:
st = "Print every word in this sentence that has an even number of letters"
# for ele in st.split():
#     if len(ele)%2==0:
#         print(ele)
[ele for ele in st.split() if len(ele)%2==0]

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

## Code : 4) LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2, 
lesser_of_two_evens(2,5) --> 5

In [24]:
def lesser_of_two(a,b):
    if (a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [32]:
lesser_of_two(5,5)

5

## Code : 5) ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True ,\n  
animal_crackers('Crazy Kangaroo') --> False

In [58]:
def animal_cracker(element):
    lst=[]
    for ele in element.split():
        lst.append(ele)
    if lst[0][0]==lst[1][0]:
        print("True")
    else:
        print("False")

In [60]:
animal_cracker('Crazy Kangaroo')
animal_cracker('Levelheaded Llama')

False
True

## Code : 6) MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
testcase : 1 makes_twenty(20,10) --> True, \n 
testcase : 2 makes_twenty(12,8) --> True,  
testcase : 3 makes_twenty(2,3) --> False

In [15]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [16]:
makes_twenty(20,10)

True

In [17]:
makes_twenty(12,8)

True

In [18]:
makes_twenty(2,3)

False

## Code : 7) OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald,  
Note: 'macdonald'.capitalize() returns 'Macdonald'

In [1]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [7]:
# Check
old_macdonald('macdonald')

'MacDonald'

## Code : 8) MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [2]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [5]:
#check 
master_yoda('I am home')

'home am I'

In [6]:
# Check
master_yoda('We are ready')

'ready are We'

## Code : 9) ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number

In [8]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [9]:
# Check
almost_there(90)

True

In [10]:
# Check
almost_there(104)

True

In [11]:
# Check
almost_there(150)

False

In [12]:
# Check
almost_there(209)

True

## Code : 10) FIND 33:Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [13]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [14]:
# Check
has_33([1, 3, 3])

True

In [15]:
# Check
has_33([1, 3, 1, 3])

False

In [16]:
# Check
has_33([3, 1, 3])

False

## Code : 11) PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [17]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [18]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [19]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Code : 12) BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [20]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [21]:
# Check
blackjack(5,6,7)

18

In [22]:
# Check
blackjack(9,9,9)

'BUST'

In [23]:
# Check
blackjack(9,9,11)

19

## code : 15) SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [24]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [25]:
# Check
summer_69([1, 3, 5])

9

In [26]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [27]:
# Check
summer_69([2, 1, 6, 9, 11])

14

## code : 16) SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order¶
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [28]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [29]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [30]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [31]:
# Check
spy_game([1,7,2,0,4,5,0])

False

## Code : 17) COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25
By convention, 0 and 1 are not prime.

In [32]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [33]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

## Code : 18) PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [34]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [37]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Code : 19) Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
HINT: Two string methods that might prove useful: .isupper() and .islower()

In [38]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [39]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

## Code : 20) Write a Python function that checks whether a passed in string is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [40]:
def palindrome(s):
    
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]   # Check through slicing

In [41]:
palindrome('nurses run')

True

In [42]:
palindrome('abcba')

True